<div class="red_bar">
  <p>There are <strong>
<% number_of_contacts = [] %>
<% @contacts.each do |contact| %>
  <% contact = 1 %>
  <% number_of_contacts << contact %>
<% end %>
<%= number_of_contacts.sum %></strong> contacts</p>
</div>

<ul>
<% @contacts.each do |contact| %>
  <li><a href="/contacts/<%= contact.id %>"><%= contact.full_details %></a><br>
    <a href="/update_contact/<%= contact.id %>">Edit</a> | <a href="/delete_contact/<%= contact.id %>">Delete</a>
  </li>
<% end %>
</ul>
